GitHubToken.txt
secrets.py
show_response_data_using_print_for_example.txt

venv/*
.vscode/*
*.sqlite3
__pycache__/*
__pycache__
.pytest_cache/*
.coverage
\!authors_books_app/*
\!settings.py
*Zone*
\!secrets.py
\!urls.py
\!migrations/*
api_key.py
.env
!kinopoiskapiunofficial_tech_api.py
!profession_key_choices_for_profession_field_in_models.py
