<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторы и их книги</title>
    <link rel="stylesheet" href="./styles/style.css" />

    <meta property="og:title" content="Заголовок страницы в OG" />
    <meta property="og:description" content="Описание страницы в OG" />
    <meta property="og:image" content="https://example.com/image.jpg" />
    <meta property="og:url" content="https://example.com/" />
  </head>
  <body>
    
    <style>
      table, td, th {
        /* задаем границу для всех элементов */
        border: 3px solid #245488;
      }

      td, th {
        /* делаем отступ в ячейках, выставляем выравнивание текста */
        padding: 10px 20px;
        text-align: center;
      }
    </style>
    
    <header>
      <h1>Авторы и их книги</h1>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            
            <th>Автор</th>
            <th>Название</th>
            <th>Краткое описание</th>
            <th>Жанр</th>
            <th>ISBN</th>
          </tr>
        </thead>
        <tbody>

          {% for author, book in zipped_data %}
            <tr>
              <td>{{ author.first_name }} {{ author.last_name }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.short_description }}</td>
              <td>
                {% for genre in book.genre.all %}
                  {{ genre.name }}
                {% endfor %}
              </td>
              <td>{{ book.isbn }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </main>
    <footer>
      <p>Место для информации об авторах и всяких ссылках</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>
